<mat-card class="card">
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="addWord()">Add New</button>
  </mat-card-actions>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let word of words">
        <div class="line">
          <span>{{word.word}} - {{word.translate}}</span>
          <button mat-icon-button (click)="deleteWord(word.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

